@charset "utf-8";
/* CSS Document */
/*公共样式*/
*{margin:0;padding:0}
ul,li{list-style:none}
.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clear{zoom:1}
.body{width:1000px;height:1239px;margin:0 auto;} 
a{text-decoration:none;}
a:hover{background-color:red}
/*头部样式*/
.head{height:100px;width:1000px;background-color:white}
.head{position:relative}
.head .head_wlkg_img{position:absolute;top:42px;left:21px;}
.head .head_wlkg_img a:hover{background-color:white}
.head .head_search{width:250px;height:50px;position:absolute;top:37px;right:0px}
.head .head_search div{width:230px;height:30px}
.head .head_search input{width:196px;height:26px;}
.head .head_search span{float:right;width:30px;height:30px}
.head .head_search span a img{width:30px;height:30px;}
.head .head_search span a:hover{background-color:white}
/*主体样式开始*/
/*导航栏*/
.main_dh{weidth:1000px;height:60px}
.main_dh li{float:left;}
.main_dh li a{text-decoration:none;color:#f9f9f9}
.main_dh li a:hover{background-color:red}
.main_dh li:nth-of-type(2),.main_dh li:nth-of-type(3),.main_dh li:nth-of-type(4),.main_dh li:nth-of-type(5),.main_dh li:nth-of-type(6),.main_dh li:nth-of-type(7){border-right:1px solid #4b4b4b;padding:24px 32px 24px 32px;font-size:14px;background-color:#2c2c2c;color:#ffffff}
.main_dh li:nth-of-type(1){border-right:1px solid #4b4b4b;padding:24px 32px 24px 48px;font-size:14px;background-color:#2c2c2c;color:#ffffff}
.main_dh li:nth-of-type(8){padding:24px 35px 24px 32px;font-size:14px;background-color:#2c2c2c;color:#ffffff}
/*导航滚动栏*/
@keyframes move{0%{left:-600px;}100%{left:0}}
.main .main_scroll{width:1000px;height:200px;position:relative;background-color:#CCC;}
.main_scroll .scroll_img1 li{float:left;}
.main_scroll .scroll_img1 ul{animation:6s move infinite;position:absolute}
.main_scroll .scroll_img1{width:840px;height:137px;position:absolute;top:31px;left:80px;overflow: hidden;}
/*主题文字*/
.main .main_text{width:1000px;height:240px;}
.main .main_text_news{width:500px;float:left;height:240px;}
.main .main_text_newss{margin:35px 8px 26px 12px;}
.main .main_text_news .time{float:right;font-size:9px;line-height:24px;margin-top:29px;color:#969696}
.main .main_text_news .text{float:left;font-size:10px;line-height:25px;margin-top:29px;color:#505050;white-space:nowrap;}
.main .main_text_news .text a{color:#565656}
.main .main_text_news .text li{list-style:disc;margin-left:15px}
.main .main_text_news .text_h3{font-size:18px;color:#1f1f1f}
/*介绍*/
.main .main_text_js{width:240px;float:left;background-color:#f1f1f1;height:240px;}
.main .main_text_jis{margin:36px 25px 50px 25px;}
.main .main_text_js .js_h3{font-size:18px;color:#1f1f1f；}
.main .main_text_js .text1{margin-top:41px;line-height:26px;white-space:nowrap;font-size:12px}
.main .main_text_js .text2{margin-top:28px;line-height:26px;white-space:nowrap;font-size:10px;color:#8c8c8c}
/*招聘*/
.main .main_text_zp{width:240px;float:left;height:240px;position:relative;}
.main .main_text_zp{background:#fbfbfb url(../img/flower.jpg) no-repeat right bottom;}
.main .main_text_zp .zp_h3{font-size:18px;color:#1f1f1f;}
.main .main_text_zp .zp_zs{margin:36px 55px 124px 24px;}
.main .main_text_zp .zp_span{font-size:10px;color:#949494;line-height:24px;margin-top:25px;}
.main .main_text_zp .zp_more{position:absolute;left:25px;top:172px;}
.main .main_text_zp .zp_more a{display:block;width:65px;hieght:20px;font-size:8px;background-color:#aeaeae;text-align:center;text-decoration:none;color:#f5f5f5;border-radius:3px 3px 3px 3px;}
/*卧龙市场*/
.main_text2{width:1000px;height:306px;}
.main_text2 ul li p{width:210px;line-height:24px;font-size:10px;}
.main_text2 ul li p a{color:#535353}
.main_text2 ul{float:left;margin:0 20px;}
.main_text2 ul li{padding-top:19px}
.main_text2 h3{margin-top:30px;margin-left:23px;font-size:18px;color:#202020}
/*foot1样式*/
/*foot1cp样式*/
.foot1{width:1000px;height:250px;background-color:#e5e5e5}
.foot1 a{color:#656565}
.foot1 li{margin-top:13px;}
.foot1 .cp{height:250px;width:494px;float:left}
.foot1 .cp h3{font-size:13px;margin-top:31px;margin-left:31px;margin-bottom:11px;color:#5e5e5e}
.foot1 .cp hr{display:block;width:430px;height:1px;margin-left:20px;}
.foot1 .cp .cp_ul ul{float:left;font-size:10px;}
.foot1 .cp .cp_ul ul:nth-of-type(1){margin:8px 81px 63px 26px}
.foot1 .cp .cp_ul ul:nth-of-type(2){margin:8px 80px 86px 0}
.foot1 .cp .cp_ul ul:nth-of-type(3){margin:8px 26px 86px 0}
/*foot1样式jf*/
.foot1 .jf{height:250px;width:199px;float:left}
.foot1 .jf h3{font-size:13px;margin-top:31px;margin-left:13px;margin-bottom:11px;color:#5e5e5e}
.foot1 .jf hr{display:block;width:150px;height:1px;}
.foot1 .jf .jf_ul ul{font-size:10px;margin:21px 101px 86px 22px}
/*foot1样式xw*/
.foot1 ul li{list-style-image:url(../img/jt.jpg);}

.foot1 .xw{height:250px;width:307px;float:left}
.foot1 .xw hr{display:block;width:255px;height:1px;}
.foot1 .xw h3{font-size:13px;margin-top:31px;margin-left:12px;margin-bottom:11px;color:#5e5e5e}
.foot1 .xw .xw_map a:hover{background-color:white}
/*foot2样式*/
.foot2{width:1000px;height:82px;}
.foot2_ul ul li{float:left;font-size:10px;color:#8a8a8a;}
.foot2_ul ul li a{color:#8a8a8a;}
.foot2_ul{float:left;margin-top:24px;margin-left:22px;}
.foot2_p{float:right;font-size:10px;color:#8a8a8a;margin-top:24px;margin-right:19px;}
.foot2_p p a{color:#8a8a8a;}
.foot2_p p a:hover{background-color:white}
.foot2_p p .bx:hover{background-color:red}

