.weui-btn {
  width: 17.15rem;
  height: 2.2rem;
  margin-top: 1rem;
}
.weui-textarea {
  height: 6.2rem;
  padding: 5px;
  font-size: 0.7rem;
}
p {
  padding: 3px;
  line-height: 2.2rem;
  font-size: 0.7rem;
}
