.no_order_box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  -ms-flex-pack: center;
      justify-content: center;
}
.no_order_box img {
  width: 4rem;
}
.no_order_box h3 {
  font-size: 0.75rem;
  margin: 0.6rem 0;
  letter-spacing: 1px;
}
.no_order_box p {
  font-size: 0.6rem;
}
.no_order_box .refreshBtn {
  font-size: 0.7rem;
  width: 2.3rem;
  line-height: 1.3rem;
  border: 1px solid #85BB43;
  text-align: center;
  margin-top: 0.3rem;
  color: #85BB43;
}
.no_order_show {
  padding-top: 9rem;
  display: none;
}
.del_tab {
  position: fixed;
  z-index: 100;
  background: #fff;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: -ms-flexbox;
  display: flex;
}
.del_tab > div {
  -ms-flex: 1;
      flex: 1;
  padding: 0;
}
.del_tab > div > div {
  display: inline-block;
  line-height: 42px;
  height: 42px;
  padding: 0 16px;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
  font-size: 0.7rem;
}
.del_tab > div > div.active {
  border-color: #999;
}
.data_list {
  padding-top: 2.2rem;
}
.weui-cells {
  margin-top: 0.6rem;
}
.weui-cell_access .weui-cell__ft:after {
  display: none;
}
.weui-cell__ft {
  color: black;
}
.weui-cell__ft p {
  padding: 0.1rem 0.2rem;
  border: 1px solid #ccc;
  font-size: 0.7rem;
  border-radius: 0.1rem;
}
.weui-cell__ft .btn_his {
  color: #E78E77;
  border-color: #E78E77;
}
.weui-cell__ft .btn_alert {
  color: #F0A014;
  border-color: #F0A014;
}
.weui-cell__ft .btn_comfirm {
  color: #85BB43;
  border-color: #85BB43;
}
.weui-cell__ft .btn_complete {
  color: #B0B2B5;
  border-color: #B0B2B5;
}
.weui-cell__bd {
  width: 12.5rem ;
}
.weui-cell__bd h3 {
  width: 100%;
  font-size: 0.7rem;
}
.weui-cell__bd p {
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.54);
}
.weui-cell__bd p span {
  font-size: 0.7rem;
  color: #CD624A;
}
.weui-cell__hd {
  margin-right: 0.6rem;
  font-size: 0.7rem;
}
.weui-cell__hd .img1 {
  width: 3rem;
  height: 3rem;
}
