.section {
  width: 100%;
  padding-bottom: 20px;
}

.section .same_content {
  width: 75%;
  margin-bottom: 20px;
  margin-top: 0px;
}

.section .gymogo_about {
  width: 1200px;
  margin: 0 auto;
}

.section .gymogo_about .same_title {
  margin-bottom: 38px;
  padding-top: 58px;
}

.section .gymogo_about .same_title h3 {
  font-weight: 600;
}

.section .gymogo_about .same_title h4 {
  font-weight: 600;
  font-size: 12px;
}

.section .gymogo_about .same_content {
  width: 75%;
  margin-bottom: 20px;
  margin-top: 0px;
}

.section .gymogo_about .same_content1 {
  width: 57%;
}

.section .gymogo_lbt {
  width: 100%;
  background: #f3f3f3;
}

.section .gymogo_lbt .gymogo_lbt_main {
  max-width: 1200px;
  margin: 0 auto;
  height: 460px;
}

.section .gymogo_culture {
  width: 1200px;
  margin: 0 auto;
}

.section .gymogo_culture .same_title {
  padding: 38px 20px;
}

.section .gymogo_culture .same_title h3 {
  font-weight: 600;
}

.section .gymogo_culture .same_title h4 {
  font-weight: 600;
  font-size: 12px;
}

.section .gymogo_success {
  width: 1200px;
  margin: 0 auto;
}

.section .gymogo_success .same_title {
  padding: 48px 20px;
}

.section .gymogo_success .same_title h3 {
  font-weight: 600;
}

.section .gymogo_success .same_title h4 {
  font-weight: 600;
  font-size: 12px;
}

.section .gymogo_success .gymogo_success_content {
  overflow: hidden;
}

.section .gymogo_success .gymogo_success_content .gymogo_success_list {
  width: 24.1%;
  float: left;
  margin-right: 1.2%;
  margin-bottom: 60px;
}

.section .gymogo_success .gymogo_success_content .gymogo_success_list img {
  width: 100%;
}

.section .gymogo_success .gymogo_success_content .gymogo_success_list p {
  font-size: 16px;
  color: #333333;
  line-height: 16px;
  margin-top: 22px;
  text-align: center;
}

.section .gymogo_success .gymogo_success_content .gymogo_success_list4 {
  margin-right: 0;
}
