.home_life .home_sametemplate_left, .home_promotion .home_sametemplate_left {
  height: 450px;
  background: #ccc;
}

.home_life .home_sametemplate_left img, .home_promotion .home_sametemplate_left img {
  width: 100%;
}

.home_life .home_sametemplate_right, .home_promotion .home_sametemplate_right {
  margin-left: -30px;
  background: white;
  padding: 62px 10px 50px 50px;
  margin-top: 40px;
}

.home_life .home_sametemplate_right h3, .home_promotion .home_sametemplate_right h3 {
  font-size: 22px;
  color: #000000;
  line-height: 22px;
}

.home_life .home_sametemplate_right h3 span, .home_promotion .home_sametemplate_right h3 span {
  margin-top: 10px;
  display: block;
  color: #a3a3a3;
  font-size: 12px;
  line-height: 12px;
}

.home_life .home_sametemplate_right p, .home_promotion .home_sametemplate_right p {
  color: #d8d8d8;
  font-size: 12px;
  line-height: 27px;
  margin-top: 29px;
  margin-bottom: 38px;
}

.home_life .home_sametemplate_right .same_btn, .home_promotion .home_sametemplate_right .same_btn {
  margin: 0;
}

.section {
  overflow: hidden;
  padding-top: 30px;
}

.section .section_body .produce_intro {
  border: 1px solid #cccccc;
}

.section .section_body .produce_intro .produce_intro_list {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.section .section_body .produce_intro .produce_intro_list h3 {
  font-size: 18px;
  color: #000000;
  line-height: 24px;
}

.section .section_body .produce_intro .produce_intro_list p {
  font-size: 16px;
  color: #4d4d4d;
  line-height: 22px;
}

.section .section_body .produce_intro .produce_intro_list b {
  position: absolute;
  top: 86px;
  display: none;
  width: 0px;
  height: 0px;
  border: 8px solid #111146;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.section .section_body .produce_intro .active {
  background: #111146;
}

.section .section_body .produce_intro .active h3 {
  color: #fdd330;
}

.section .section_body .produce_intro .active p {
  color: #c2a236;
}

.section .section_body .produce_intro .active b {
  display: block;
}

.section .section_body .produce_intro_content {
  padding: 88px 0 0 0;
}

.section .section_body .produce_intro_content .produce_intro_content_limg {
  margin-top: 38px;
}

.section .section_body .produce_intro_content .produce_intro_content_detail {
  padding-left: 64px;
}

.section .section_body .produce_intro_content .produce_intro_content_detail .pic_title {
  font-size: 46px;
  color: #000000;
  line-height: 46px;
}

.section .section_body .produce_intro_content .produce_intro_content_detail .pic_color span {
  display: inline-block;
  width: 22px;
  height: 2px;
  background: #111146;
}

.section .section_body .produce_intro_content .produce_intro_content_detail .pic_color .pic_color_two {
  background: #fdd435;
}

.section .section_body .produce_intro_content .produce_intro_content_detail h4 {
  font-size: 22px;
  font-weight: 100;
  line-height: 22px;
  color: #000000;
  margin-bottom: 24px;
  margin-top: 17px;
}

.section .section_body .produce_intro_content .produce_intro_content_detail .pic_content {
  font-size: 14px;
  line-height: 28px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 24px;
}

.section .section_body .produce_intro_content .produce_intro_content_detail a {
  display: block;
  background-color: #fdd330;
  width: 124px;
  line-height: 36px;
  text-align: center;
  color: #3f350c;
  font-size: 14px;
  margin-bottom: 60px;
}

.section .section_body .produce_intro_content .produce_intro_content_detail .home_online {
  margin-top: 28px;
}

.section .section_body .produce_intro_content .produce_intro_content_detail .home_online h3 {
  font-size: 20px;
  color: #000000;
  line-height: 20px;
  margin-bottom: 16px;
}

.section .section_body .produce_intro_content .produce_intro_content_logo {
  text-align: center;
  margin-top: 108px;
  margin-bottom: 25px;
}

.section .section_body .produce_intro_content .produce_intro_content_logo .ico_logo {
  font-size: 60px;
}

.section .section_body .produce_intro_content .produce_intro_content_logo p {
  margin-top: 20px;
}

.section .section_body .produce_intro_content .produce_intro_content_logo p span {
  display: inline-block;
  width: 22px;
  height: 2px;
  background: #111146;
}

.section .section_body .produce_intro_content .produce_intro_content_logo p .logo_color_two {
  background: #fdd435;
}

.home_about_mogo_bg {
  width: 100%;
  background: #fdd435;
  height: 291px;
}

.home_about_mogo .home_about_mogo_body .home_aboutmogo_title {
  margin-top: -252px;
  margin-bottom: 25px;
}

.home_about_mogo .home_about_mogo_body .home_aboutmogo_title h3 {
  font-size: 19px;
  color: #000000;
  line-height: 50px;
  border-bottom: 1px solid #ad9435;
}

.home_about_mogo .home_about_mogo_body .home_aboutmogo_title h3 span {
  font-size: 12px;
  color: #000000;
  line-height: 50px;
}

.home_about_mogo .home_about_mogo_body .home_aboutmogo_title h3 .ico_phone {
  border: 1px solid #000000;
  color: #000000;
  border-radius: 50%;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 5px;
}

.home_about_mogo .home_about_mogo_body .home_aboutmogo_title .home_aboutmogo_title1 {
  line-height: 19px;
  border-bottom: none;
}

.home_about_mogo .home_about_mogo_body .home_aboutmogo_title .home_aboutmogo_title1 span {
  display: block;
  margin-top: 12px;
  line-height: 12px;
}

.home_about_mogo .home_about_mogo_body .home_about_mogo_profike {
  padding: 60px 60px 54px;
  background: white;
}

.home_about_mogo .home_about_mogo_body .home_about_mogo_profike img {
  width: 100%;
}

.home_life {
  overflow: hidden;
}

.home_case {
  max-width: 1200px;
  margin: 0 auto;
}

.home_case .same_title .home_case_title_content {
  color: #484848;
  font-size: 14px;
  line-height: 27px;
  width: 56%;
  margin: 0 auto 37px;
}

.home_case_content {
  width: 100%;
  background: #f5f5f5;
}

.home_news {
  width: 100%;
}

.home_news .hone_news_bd {
  max-width: 1200px;
  margin: 0 auto;
}

.home_news .hone_news_bd .same_title {
  padding: 50px 0 23px;
}

.home_news .hone_news_bd .home_news_nav {
  text-align: center;
  margin-bottom: 26px;
}

.home_news .hone_news_bd .home_news_nav span {
  display: inline-block;
  width: 85px;
  line-height: 31px;
  text-align: center;
  color: black;
}

.home_news .hone_news_bd .home_news_nav .active {
  background: #fdd435;
}

.home_news .hone_news_bd .home_news_content {
  width: 100%;
}

.home_news .hone_news_bd .home_news_content .home_news_content_lbt {
  width: 100%;
}

.home_news .hone_news_bd .home_news_content .home_news_content_lbt .home_news_content_lbt_main {
  width: 100%;
  height: 306px;
  background: #e5e5e5;
}

.home_news .hone_news_bd .home_news_content .home_news_content_lbt .home_news_content_lbt_msg {
  width: 100%;
  line-height: 68px;
  background: #fdd435;
}

.home_news .hone_news_bd .home_news_content .home_news_content_lbt .home_news_content_lbt_msg h3 {
  padding-left: 18px;
  font-size: 18px;
}

.home_news .hone_news_bd .home_news_content .home_news_content_lbt .home_news_content_lbt_msg h3 span {
  font-size: 14px;
}

.home_news .hone_news_bd .home_news_content .home_news_content_lbt .home_news_content_lbt_msg .home_news_content_lbt_msg1 {
  float: right;
  padding-right: 38px;
  padding-left: 0;
}

.home_news .hone_news_bd .home_news_content .same_btn {
  margin-top: 48px;
  margin-bottom: 58px;
}

.home_promotion {
  padding-bottom: 64px;
  overflow: hidden;
}

.home_promotion .home_promotion_left {
  height: 397px;
}

.home_promotion .home_promotion_left img {
  width: 100%;
}

.home_promotion .home_promotion_right {
  padding: 70px 79px 60px 69px;
  margin-left: 0;
  margin-top: 0;
  box-shadow: 0px 0px 5px #C9C9C9;
}

.home_promotion .home_promotion_right p {
  font-size: 14px;
  color: #333333;
  line-height: 30px;
}
