.weui-cells {
  margin: 0;
}
.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 0.8rem;
}
.btn a {
  width: 17.15rem;
  height: 2.2rem;
}
.markedWords {
  margin-top: 1rem;
  color: #CD624A;
  font-size: 0.6rem;
  text-align: center;
}
.shenqing {
  background: #85BB43;
  border-radius: 0;
}
