.section{
  .section_content_product_container{
    width:100%;
    background: #f5f5f5;
    border-top:2px solid #c8c8c8;
    .section_content_product{
      overflow: hidden;
      .section_content_product_left{
        padding-right: 3%;
        .section_content_product_left_title{
          width:72.5%;
          padding: 8.7% 13.75% 14.25%;
          background: white;
          h3{
            background:#111146;
            font-size: 34px;
            color:#fdd435;
            text-align: center;
            line-height: 34px;
            padding: 31px 0 35px;
            span{
              display: block;
              font-size: 18px;
              line-height: 18px;
            }
          }
          .section_content_product_left_title_main{
            .section_content_product_left_title_main_list{
              border-bottom: 1px solid #a8a8a8;
              padding: 26px 0;
              p{
                width:190px;
                line-height: 50px;
                text-align: center;
                margin: 0 auto;
              }
            }
            .active{
              p{
                background: #fdd435;
              }
            }
          }
        }
        .section_content_product_left_more{
          margin-top: 26px;
          .section_content_product_left_more_title{
            font-size: 22px;
            color:#000000;
            line-height: 66px;
            text-align: center;
            border-bottom:2px solid #cccccc;
            background: white;
          }
          .gcalin_shop_list{
            background: white;
            text-align: center;
            padding:40px 0;
            .same_online_list{
              margin-right: 3%;
            }
          }
          .gcalin_product_content{
            background: white;
            .gcalin_product_content_list{
              padding:20px;
              h3{
                color:#262626;
                font-size: 18px;
                line-height: 18px;
              }
              p{
                color:#3f3f3f;
                font-size: 15px;
                line-height: 23px;
                margin-top: 14px;
              }
            }
            .active{
              background: #fdd435;
            }
          }
        }
      }
      .section_content_product_right{
        padding-top: 72px;
        padding-bottom: 38px;
        .section_content_product_right_title{
          .section_content_product_right_title_box{
            overflow: hidden;
            padding-bottom: 10px;
            h3{
              float:left;
              font-size: 18px;
              color:#000000;
              line-height: 18px;
            }
            p{
              float:right;
              font-size: 12px;
              color:#000000;
              line-height: 12px;
              span{

              }
            }
          }
          h4{
            border-top:2px solid #6f6f6f;
            color:#666666;
            font-size: 12px;
            line-height: 12px;
            padding-top: 8px;
          }
        }
        .section_content_product_right_content{
          background: white;
          margin-top: 24px;
          .newscenterin_h3{
            font-size: 22px;
            color:#262626;
            font-weight: 600;
            line-height: 22px;
            text-align: center;
            padding:29px 0 18px;
            border-bottom: 1px solid #eaeaea;
          }
          h4{
            color:#7a7a7a;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            padding:10px 0;
            border-bottom: 1px solid #eaeaea;
          }
          .section_content_product_right_content_main{
            padding:60px 8% 0 2.5%;
            p{
              font-size: 14px;
              line-height: 30px;
              color:#333333;
              padding-bottom: 30px;
            }
            h3{
              font-size: 14px;
              line-height: 30px;
              color:#000000;
              font-weight: 600;
            }
            img{
              display: block;
              margin: 20px auto 0px;
              padding-bottom: 50px;
            }
          }
        }
      }
    }
  }
}