//section start
.section{
  padding-bottom: 34px;
  .same_title{
    max-width: 1200px;
    margin: 0 auto;
    h4{
      color:#333333;
      font-size: 15px;
      font-weight: 100;
      line-height: 15px;
      width:55%;
      margin: 0 auto;
    }
  }
  .section_body{
    overflow: hidden;
    .produce_intro_content{
      padding: 88px 0 0 0;
      .produce_intro_content_limg{
        margin-top: -100px;
      }
      .produce_intro_content_detail{
        padding-left:64px;
        .pic_title{
          font-size: 46px;
          color: #000000;
          line-height: 46px;
        }
        .pic_color{
          span{
            display: inline-block;
            width:22px;
            height:2px;
            background:#111146;
          }
          .pic_color_two{
            background:#fdd435;
          }
        }
        h4{
          font-size: 22px;
          font-weight: 100;
          line-height: 22px;
          color:#000000;
          margin-bottom: 24px;
          margin-top: 17px;
        }
        .pic_content{
          font-size: 14px;
          line-height: 28px;
          color:#333333;
          margin-top: 20px;
          margin-bottom: 24px;
        }
        a{
          display: block;
          background-color:#fdd330;
          width:124px;
          line-height:36px;
          text-align: center;
          color:#3f350c;
          font-size: 14px;
          margin-bottom: 60px;
        }
        .home_online{
          margin-top: 28px;
          h3{
            font-size: 20px;
            color:#000000;
            line-height: 20px;
            margin-bottom: 16px;
          }
          .home_online_list{
            display: inline-block;
            p{
              font-size: 14px;
              color:#333333;
              text-align: center;
              line-height: 14px;
              padding-top: 12px;
            }
          }
        }
      }
    }
  }
  .section_product{
    width:100%;
    background: #f3f3f3;
    padding: 64px 0 15px;
    .section_product_title{
      margin-bottom: 54px;
    }
  }
  .section_news{
    max-width: 1200px;
    margin: 0 auto;
    .section_news_nav{
      text-align: center;
      margin-bottom: 26px;
      span{
        display: inline-block;
        width:85px;
        line-height: 31px;
        text-align: center;
        color: black;
      }
      .active{
        background: #fdd435;
      }
    }
  }
  .same_btn{
   margin-top: 38px;
  }
}